@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    background: hsla(195, 41%, 89%, 1);
    background: linear-gradient(180deg, hsla(195, 41%, 89%, 1) 39%, hsla(16, 78%, 75%, 1) 77%);
    background: -moz-linear-gradient(180deg, hsla(195, 41%, 89%, 1) 39%, hsla(16, 78%, 75%, 1) 77%);
    background: -webkit-linear-gradient(180deg, hsla(195, 41%, 89%, 1) 39%, hsla(16, 78%, 75%, 1) 77%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#D6E8EE", endColorstr="#F1A68B", GradientType=1 );
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
}
.titulo{

    border: 5px solid black;
}
nav{
    background: hsla(193, 10%, 55%, 1);
    background: linear-gradient(90deg, hsla(193, 10%, 55%, 1) 16%, hsla(23, 81%, 70%, 1) 59%);
    background: -moz-linear-gradient(90deg, hsla(193, 10%, 55%, 1) 16%, hsla(23, 81%, 70%, 1) 59%);
    background: -webkit-linear-gradient(90deg, hsla(193, 10%, 55%, 1) 16%, hsla(23, 81%, 70%, 1) 59%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#819398", endColorstr="#F1A576", GradientType=1 );
    
    margin-top:0px;
    padding: 15px;
    text-align: center;
    word-spacing: 75px;
    font-weight: bold;
    font-size: 1em;
    border: 5px solid black;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
li {
    margin: 0 auto;
    padding: 0px;
    display: inline-block;
}
section{
    text-align: center;
    margin: 40px;
}
footer{
    background-color: hsla(193, 10%, 55%, 1);
    padding: 30px;
    text-align: center;
    word-spacing: 75px;
    font-weight: bold;
    font-size: 1em;
    border: 10px solid black;

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.vehiculos{
    display:list-item;
}
.textoSeccion{
    margin-top: 50px;
    margin-left: 15px;
    text-align: left;
}
h1 {
    text-align: center;
    border: 5px solid black;
}
.secPrincipal {
    margin-top: 25px;
    padding: 20px;
    text-align: center;
}
.flexService{
    height: 350px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

.box:hover{
    transform: scale(2);    
    }

.img1{
    transition: all 2s;
}
.img2{
    transition: all 2s;
}
.navBar{
    height: 50px;
    width: 75px;
    margin: 35px auto;
    transition: all 1s;
}
.navBar:hover{
    transform:  scale(2) translateY(20px);
}

.footBar{
    height: 50px;
    width: 75px;
    margin: 35px auto;
    transition: all 1s;
}
.footBar:hover{
    transform: scale(2) translateY(-20px);
}

.inicioTrans{
    transition: all 1s ease-in-out;
    
}
.inicioTrans:hover{
    transform: translateY(100px);
}

.imgPrincipal:hover{
    animation: giroImagen 1s;
}

@keyframes giroImagen{
    20%{
        transform: rotate(45deg);
    }
    35%{
        transform: rotate(90deg);
    }
    60%{
        transform: rotate(180deg);
    }
    80%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}  