@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

h1 {
    text-align: center;
    border: 5px solid black;


}
section{
    text-align: center;
    margin: 40px;
}
.textoSeccion{
    margin-top: 50px;
    margin-left: 15px;
    text-align: left;
}